<div
    class="wrapper"
    (click)="this.fieldSelected()"
    [class.white-cell]="this.fieldColor() == 'white'"
    [class.black-cell]="this.fieldColor() == 'black'"
    [class.on-focus]="this.onFocus()"
>
    <p *ngIf="this.showIndex()">
        {{ this.position()[0] }}
        {{ this.position()[1] }}
    </p>
    <div class="picture" *ngIf="this.field().piece != 'empty'">
        <img
            [src]="this.piecePicture()"
            [alt]="
                this.field().piece != 'empty'
                    ? this.field().piece + ' ' + this.field().faction
                    : ''
            "
        />
    </div>
</div>
