<div
    class="wrapper"
    (click)="this.fieldSelected()"
    [class.white-cell]="this.fieldColor() == 'white'"
    [class.black-cell]="this.fieldColor() == 'black'"
    [class.selected]="this.onFocus() == 'selected'"
    [class.to-be-moved]="this.onFocus() == 'toBeMoved'"
    [class.to-be-attacked]="this.onFocus() == 'toBeAttacked'"
>
    <div class="indexes" >
        <div *ngIf="this.showRealIndex()">
            <p>{{ this.position()[0] }}</p>
            <p>{{ this.position()[1] }}</p>
        </div>
        <div *ngIf="this.showIndex()">
            <p>{{ this.positionToShow()[0] + 1 }}</p>
            <p>{{ this.positionToShow()[1] | numberToLetter }}</p>
        </div>
    </div>
    <div class="picture">
        <img
            *ngIf="this.field().piece != 'empty'"
            [src]="this.piecePicture()"
            [alt]="
                this.field().piece != 'empty'
                    ? this.field().piece + ' ' + this.field().faction
                    : ''
            "
        />
    </div>
</div>
