// $table-size: calc(100vw - 1rem);
$table-size: calc(600px);
$field-size: calc($table-size/10);

.wrapper {
    table {
        tr {
            td {
                width: $field-size;
                height: $field-size;
                max-width: $field-size;
                max-height: $field-size;
                background-color: var(--gray-color);
                overflow: hidden;
                box-sizing: border-box;

                .field {
                    width: $field-size;
                    height: $field-size;
                    max-width: $field-size;
                    max-height: $field-size;

                    overflow: hidden;
                    box-sizing: border-box;

                    transition: var(--quick-transition);
                    background-color: var(--white-color);
                }

                .active-field {
                    background-color: var(--accent-color);
                }
            }
        }
        tr:nth-child(even) {
            td {
                .field {
                    background-color: var(--gray-color);
                }
                .active-field {
                    background-color: var(--accent-color);
                }
            }
        }
    }
}
