<div class="wrapper">
    <div>
        <p i18n>turn: {{ this.factionTurn() }}</p>
        <p>{{ this.gameStatus() ? 'game is active' : 'game over!' }}</p>
        <p>player: {{ this.playerFaction() }}</p>
        <p>is flipped: {{this.flipBoard()}} </p>
    </div>
    <table>
        @for (
            row of this.chessBoard();
            track $index;
            let rowIndex = $index
        ) {
        <tr>
            @for (field of row; track $index; let columnIndex = $index) {
            <td>
                <div
                    class="field"
                    [class.active-field]="
                        this.firstPosition &&
                        rowIndex == this.firstPosition[0] &&
                        this.firstPosition &&
                        columnIndex == this.firstPosition[1]
                    "
                >
                    <app-chess-field
                        [position]="[rowIndex, columnIndex]"
                        [field]="field"
                        [onFocus]="
                            this.firstPosition &&
                            this.firstPosition[0] == rowIndex &&
                            this.firstPosition[1] == columnIndex
                                ? 'selected'
                                : null
                        "
                        [onFocus]="this.getRowFocusStatus(rowIndex, columnIndex)"
                        [showIndex]="this.showIndexes()"
                        (fieldSelectedEvent)="movePiece($event)"
                    ></app-chess-field>
                </div>
            </td>
            }
        </tr>
        }
    </table>
</div>
