/* You can add global styles to this file, and also import other style files */
:root {
    --field-size: 100px;

    --black-color: #02090a;
    --gray-color: #d3d3d3;
    --white-color: #f3f3f3;

    --primary-color: #3affbd;
    --accent-color: #3affbd;
}

p {
    margin: 0;
}

* {
    // outline: 1px red solid;

    color: var(--black-color);
}
