/* You can add global styles to this file, and also import other style files */
:root {
    --black-color: #02090a;
    --gray-color: #d3d3d3;
    --white-color: #f3f3f3;

    --primary-color: #3affbd;

    --accent-cell-color: #00c2c2;
    --white-cell-color: #e7e9ee;
    --black-cell-color: #252627;
    --green-cell-color: #00c2c2;
    --red-cell-color: #d64b4b;

    --quick-transition: 0.1s ease-in-out;
    --standart-transition: 0.3s ease-in-out;
}

p {
    margin: 0;
}

* {
    // outline: 1px red solid;

    color: var(--black-color);
}
